/* homepage.css */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.arrow-button {
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow-button:first-child {
  left: 10px;
}

.arrow-button:last-child {
  right: 10px;
}

.book-container {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.model-viewer-container {
  position: relative;
  width: 50%; /* You can keep it relative if it fits better */
  aspect-ratio: 1; /* Maintain 1:1 aspect ratio */
  height: 700px;
  margin-right: 50px; 
}

.book-info {
  font-family: 'Courier New', Courier, monospace;
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  color: rgb(0, 0, 0); 
  max-width: 400px;
}